<%- include('../partials/header', { title: 'Delete Purchase' }) %>
<h1>Delete purchase</h1>
<p class="subtitle">Select a purchase to remove. (Form coming when DB is connected.)</p>
<a href="/purchases" class="back-link">â† Back to Purchases</a>
<%- include('../partials/footer') %>
