<%- include('../partials/header', { title: 'Purchases' }) %>
<h1>Purchases</h1>
<p class="subtitle">Browse, add, update, or delete purchase records.</p>
<ul class="links">
  <li><a href="/purchases/browse">Browse</a></li>
  <li><a href="/purchases/add">Add</a></li>
  <li><a href="/purchases/update">Update</a></li>
  <li><a href="/purchases/delete">Delete</a></li>
</ul>
<%- include('../partials/footer') %>
