<%- include('../partials/header', { title: 'Update Purchase' }) %>
<h1>Update purchase</h1>
<p class="subtitle">Select a purchase to edit. (Form coming when DB is connected.)</p>
<a href="/purchases" class="back-link">â† Back to Purchases</a>
<%- include('../partials/footer') %>
