<%- include('partials/header', { title: 'Home' }) %>
<h1>Homepage</h1>
<p class="subtitle">Select a table to manage:</p>
<ul class="links">
  <li><a href="/developers">Developers</a></li>
  <li><a href="/games">Games</a></li>
  <li><a href="/users">Users</a></li>
  <li><a href="/purchases">Purchases</a></li>
  <li><a href="/reviews">Reviews</a></li>
</ul>
<%- include('partials/footer') %>
