<%- include('../partials/header', { title: 'Delete Developer' }) %>
<h1>Delete developer</h1>
<div class="toolbar">
  <a href="/developers/add" class="primary">Add</a>
  <a href="/developers/browse" class="primary">Browse</a>
</div>

<p class="subtitle">Select a developer to remove.</p>


<form action="/developers/delete" method="POST">
  <label>Developer ID </label>
  <select name = "developerName"> 
    <% developers.forEach(d => { %>
    <option value = <%= d.developerID %>> <%= d.developerName %> </option> 
    <% } ) %> 
  </select> <br>

  <button type="submit">Remove developer</button>
</form>


<a href="/developers" class="back-link">← Back to Developers</a>
<%- include('../partials/footer') %>
