<%- include('../partials/header', { title: 'Developers' }) %>
<h1>Developers</h1>
<p class="subtitle">Browse, add, update, or delete developer records.</p>
<ul class="links">
  <li><a href="/developers/browse">Browse</a></li>
  <li><a href="/developers/add">Add</a></li>
  <li><a href="/developers/update">Update</a></li>
  <li><a href="/developers/delete">Delete</a></li>
</ul>
<%- include('../partials/footer') %>
