<%- include('../partials/header', { title: 'Update Developer' }) %>
<h1>Update developer</h1>
<p class="subtitle">Select a developer to edit. (Form coming when DB is connected.)</p>
<a href="/developers" class="back-link">â† Back to Developers</a>
<%- include('../partials/footer') %>
