<%- include('../partials/header', { title: 'Delete Game' }) %>
<h1>Delete game</h1>
<p class="subtitle">Select a game to remove. (Form coming when DB is connected.)</p>

<form action="/developers/delete" method="POST">
  <label>Developer ID </label>
  <select name = "developerName"> 
    <% games.forEach(d => { %>
    <option value = <%= d.gameID %>> <%= d.titles %> </option> 
    <% } ) %> 
  </select> <br>

<a href="/games" class="back-link">← Back to Games</a>
<%- include('../partials/footer') %>
