<%- include('../partials/header', { title: 'Delete Game' }) %>
<h1>Delete game</h1>
<p class="subtitle">Select a game to remove. (Form coming when DB is connected.)</p>
<a href="/games" class="back-link">← Back to Games</a>
<%- include('../partials/footer') %>
