<%- include('../partials/header', { title: 'Delete Game' }) %>
<h1>Delete game</h1>
<p class="subtitle">Select a game to remove. (Form coming when DB is connected.)</p>

<form action="/games/delete" method="POST">
  <label>Game ID </label>
  <select name = "gameID"> 
    <% titles.forEach(t => { %>
    <option value = <%= t.gameID %>> <%= t.title %> </option> 
    <% } ) %> 
  </select> <br>

  <button type="submit">Remove Game</button>
</form>


<a href="/games" class="back-link">← Back to Games</a>
<%- include('../partials/footer') %>
