<%- include('../partials/header', { title: 'Update Game' }) %>
<h1>Update game</h1>
<p class="subtitle">Select a game to edit. (Form coming when DB is connected.)</p>
<a href="/games" class="back-link">â† Back to Games</a>
<%- include('../partials/footer') %>
