<%- include('../partials/header', { title: 'Reviews' }) %>
<h1>Reviews</h1>
<p class="subtitle">Browse, add, update, or delete game reviews.</p>
<ul class="links">
  <li><a href="/reviews/browse">Browse</a></li>
  <li><a href="/reviews/add">Add</a></li>
  <li><a href="/reviews/update">Update</a></li>
  <li><a href="/reviews/delete">Delete</a></li>
</ul>
<%- include('../partials/footer') %>
