<%- include('../partials/header', { title }) %>
<h1><%= title %></h1>
<form action="/users/add" method="post">
    <label>Username 
    <input type="text" name="username" required placeholder="e.g. jade" />
  </label>
  <label>Account type 
    <select name="accountType">
      <option value="user">User</option>
      <option value="admin">Admin</option>
    </select>
  </label>
  <button type="submit">Add user</button>
</form>
<br>
<a href="/users" class="nav-btn">â† Back to Users</a>
<%- include('../partials/footer') %>
