<%- include('../partials/header', { title: 'Delete User' }) %>
<h1>Delete user</h1>
<p class="subtitle">Select a user to remove. (Form coming when DB is connected.)</p>
<a href="/users" class="back-link">â† Back to Users</a>
<%- include('../partials/footer') %>
