<%- include('../partials/header', { title: 'Users' }) %>
<h1>Users</h1>
<p class="subtitle">Browse, add, update, or delete users.</p>
<ul class="links">
  <li><a href="/users/browse">Browse</a></li>
  <li><a href="/users/add">Add</a></li>
  <li><a href="/users/update">Update</a></li>
  <li><a href="/users/delete">Delete</a></li>
</ul>
<%- include('../partials/footer') %>
