<%- include('../partials/header', { title: 'Update User' }) %>
<h1>Update user</h1>
<p class="subtitle">Select a user to edit. (Form coming when DB is connected.)</p>
<a href="/users" class="back-link">â† Back to Users</a>
<%- include('../partials/footer') %>
